body {
  background-color: beige;
}

.navbar ul {
  list-style-type: none;
  background-color: aquamarine;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  background-color: aqua;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: black;
}
